nav .navbar .logo a{
    font-weight: 500;
    font-size: 35px;
    color: #4070f4;
    text-decoration: none;
    transition: 0.5s;
}
nav .navbar .logo a:hover{
    color: rgb(255, 0, 0);
}
nav .navbar{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
   
}
nav .navbar .menu{
    font-size: 30px;
    display: flex;
    position: relative;
    
}
nav .navbar .menu li{
    list-style: none;
    margin: 0 8px;
    
}
.navbar .menu a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    padding: 8px 14px;
    color: rgba(3, 6, 5, 0.716);
    transition: 0.5s;
}
.navbar .menu a:hover{
    color: rgb(213, 7, 82);
}
/* form css? */

.container {
    max-width: 500px;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
input[type="text"], input[type="email"], input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #145acb;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #4645a0;
}

    .gmail-btn {
    display: inline-block;
    background-color: #0c71f6;
    justify-content: space-between;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 3px 23.4px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    }
    .gmail-btn:hover {
        background-color: #0950ae;
    }

    footer{
    background-color: #0b0e29;
    padding: 15px;
    color: aliceblue;
    }
    .footer1{
        display: flex;
        justify-content: space-between;
    }

    .footer4 a{
        text-decoration: none;
        color: white;
    }z