 /* nav logo and bar */

 nav .navbar .logo a{
    font-weight: 300;
    font-size: 35px;
    color: #4070f4;
    text-decoration: none;
    transition: 0.5s;
}
nav .navbar .logo a:hover{
    color: rgb(255, 0, 0);
}
nav .navbar{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
   
}
nav .navbar .menu{
    font-size: 30px;
    display: flex;
    position: relative;
    
}
nav .navbar .menu li{
    list-style: none;
    margin: 0 8px;
    
}
.navbar .menu a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    padding: 8px 14px;
    color: rgba(3, 6, 5, 0.716);
    transition: 0.5s;
}
.navbar .menu a:hover{
    color: rgb(213, 7, 82);
}

/* tables */

table{
    
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    font-size: 18px;
}
table td{
    color: rgb(172, 51, 4);
    
}
#img1{
    width: 140px;
}

/* footer/ */
footer{
    background-color: #0b0e29;
    padding: 15px;
    color: aliceblue;
}
.f-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer2 ul{
    list-style-type: none;
    
  
}
.footer2 ul li{
    padding: 3px;
}
.footer2 ul li a{
    color: aliceblue;
    text-decoration: none;
    margin-left: 5px;
    transition: 0.3s;
}
.footer2 ul li a:hover{
    color: brown;
}
.footer3 a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.footer3 a:hover{
    color: brown;
}

#speaker {
    width: 25px;
    cursor: pointer;
}